:root {
    --teal-50: #f0fdfa;
    --teal-100: #ccfbf1;
    --teal-200: #99f6e4;
    --teal-300: #5eead4;
    --teal-400: #2dd4bf;
    --teal-500: #14b8a6;
    --teal-600: #0d9488;
    --teal-700: #0f766e;
    --teal-800: #115e59;
    --teal-900: #134e4a;
    --teal-950: #042f2e;
  }
  


*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--teal-950);
}

div {
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 100vh;
    height: 100svh;
    width: 100vw;

    max-height: 100vh;
    max-width: 100vw;
}

.card {
    height: 500px;
    width: 250px;
    background: skyblue;
    transition: all 0.5s;
    margin-left: 1rem;
    background-color: var(--teal-700);
}

.card-header {
    background-color: yellowgreen;

    display: flex;
    align-items: center;

    padding: 1rem;
    background-color: var(--teal-600);
}

.card-placeholder-icon {
    height: 15px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 1rem;
    background-color: var(--teal-500);
}